fastapi
uvicorn[standard]
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1+cpu
sentence-transformers==2.7.0
huggingface_hub==0.23.2
xgboost
pandas
numpy
pydantic
python-multipart
PyPDF2
pdfplumber